.wrapper {
  border: 5px solid;
  display: grid;
  grid-template-columns:
    15%
    15%
    1fr
    1fr;

  grid-template-rows:
    200px
    200px;
  grid-template-areas:
    "box-1 box-3"
    "box-2 box-4";
}

.box-1 {
  grid-area: box-1;
  background-color: rgba(230, 58, 58, 0.856);
}

.box-2 {
  grid-area: box-2;
  background-color: rgb(209, 204, 194);
}

.box-3 {
  grid-area: box-3;
  background-color: rgb(209, 204, 194);
}

.box-4 {
  grid-area: box-4;
  background-color: rgb(58, 165, 214);
}
